appdirs==1.4.4
asn1crypto==0.24.0
certifi==2020.12.5
click==8.0.1
crcmod==1.7
cryptography==2.6.1
distlib==0.3.2
distro-info==0.21
entrypoints==0.3
filelock==3.0.12
future==0.18.2
h11==0.12.0
h2o-wave==0.16.0
h2o4gpu==0.4.1
httpcore==0.12.3
httpx==0.16.1
idna==3.2
importlib-metadata==4.3.1
joblib==1.0.1
keyring==17.1.1
keyrings.alt==3.1.1
numpy==1.20.3
pandas==1.2.4
psutil==5.8.0
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
rfc3986==1.5.0
scikit-learn==0.21.2
scipy==1.6.3
SecretStorage==2.3.1
six==1.12.0
sniffio==1.2.0
starlette==0.13.8
tabulate==0.8.9
typing-extensions==3.10.0.0
unattended-upgrades==0.1
uvicorn==0.12.2
virtualenv==20.4.7
zipp==3.4.1
